<!DOCTYPE html>
<html>
<head>
<title>Add Item</title>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-zinc-900 text-white">

<div class="max-w-md mx-auto mt-10">

<h1 class="text-xl mb-4">Add New Item</h1>

<form action="/add" method="POST">

<input name="name" placeholder="Item Name"
class="w-full p-2 text-black mb-2">

<input name="price" placeholder="Price"
class="w-full p-2 text-black mb-2">

<input name="desc" placeholder="Description"
class="w-full p-2 text-black mb-2">

<button class="bg-orange-400 p-2 w-full">
Add Item
</button>

</form>

</div>

</body>
</html>