<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="bg-gradient-to-br from-zinc-900 to-black text-white">

<div id="loader" class="fixed inset-0 bg-black flex flex-col items-center justify-center text-white z-50">

    <h1 class="text-xl mb-4">⚡ Loading Battle...</h1>

    <!-- Goku -->
    <div class="flex items-center gap-6">

        <div class="text-yellow-400 text-lg animate-pulse">
            🧑‍🚀 Goku
        </div>

        <!-- Beam -->
        <div id="beam" class="h-2 bg-blue-400 w-0 transition-all duration-2000"></div>

        <div class="text-green-400 text-lg animate-pulse">
            👾 Cell
        </div>

    </div>

    <p id="status" class="mt-4 text-sm">Charging Kamehameha...</p>

</div>

    <h1 class="text-2xl font-bold mb-4 text-center">
📦 Sell Your Item
</h1>
    <div class="max-w-md mx-auto mt-10 bg-zinc-800 p-6 rounded-xl shadow-lg">

        <form action="/addItems" method="POST" enctype="multipart/form-data">

            <input name="name" placeholder="Item Name" class="w-full p-3 text-black mb-3 rounded">

            <input name="price" placeholder="Price" class="w-full p-3 text-black mb-3 rounded">

            <textarea name="desc" placeholder="Description" class="w-full p-3 text-black mb-3 rounded"></textarea>

            <input type="file" name="image" class="w-full mb-3">

            <select name="category" class="w-full p-3 text-black mb-3 rounded">
                <option value="Books">Books</option>
                <option value="Electronics">Electronics</option>
                <option value="Notes">Notes</option>
                <option value="Instruments">Instruments</option>
                <option value="Others">Others</option>
            </select>

            <select name="type" class="w-full p-3 text-black mb-3 rounded">
                <option value="note">📚 Notes</option>
                <option value="book">📖 Book PDF</option>
                <option value="product">🛍 Product</option>
            </select>

            <button class="bg-orange-500 hover:bg-orange-600 p-3 w-full rounded font-bold">
                Add Item 🚀
            </button>

        </form>


    </div>
    <script>
let beam = document.getElementById("beam");
let status = document.getElementById("status");

setTimeout(() => {
    beam.style.width = "200px";
    status.innerText = "Goku attacking...";
}, 500);

setTimeout(() => {
    beam.style.background = "red";
    status.innerText = "Cell countering...";
}, 2000);

setTimeout(() => {
    beam.style.background = "blue";
    beam.style.width = "300px";
    status.innerText = "Final Kamehameha 💥";
}, 3500);

setTimeout(() => {
    document.getElementById("loader").style.display = "none";
}, 5000);
</script>
</body>

</html>